@charset "UTF-8";


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to bottom,#2A201E,#6A2E23,#BD8053,#DBAD8B,#4D6277);
}

p{
    font-size: 18px;
}

header >  h1{
    color: white;
}

h2,h3{
    color: #6A2E23;
}

header{
    text-align: center;
    background-color: #6A2E23;
    color: white;
    margin: -17px;
    margin-top: -21px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.507);
}
main{
    background-color: white;
    margin: auto;
    max-width: 800px;
    min-width: 280px;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.507);
}



footer{
    background-color: #4D6277;
    color: white;
    margin: -10px;
    margin-bottom: -16px;
    text-align: center;
}
footer > a{
    color: white;
    text-decoration: none;
}
footer > a:hover{
    text-decoration: underline;
}
